classdata.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="purdue">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="department">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="class" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="section" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="availability" use="required"/>
                            <xs:attribute type="xs:int" name="crn" use="required"/>
                            <xs:attribute type="xs:string" name="days" use="required"/>
                            <xs:attribute type="xs:string" name="instructor" use="required"/>
                            <xs:attribute type="xs:string" name="linkedtoid" use="required"/>
                            <xs:attribute type="xs:string" name="linkid" use="required"/>
                            <xs:attribute type="xs:string" name="time" use="required"/>
                            <xs:attribute type="xs:string" name="type" use="required"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="course" use="required"/>
                  <xs:attribute type="xs:string" name="credits" use="required"/>
                  <xs:attribute type="xs:string" name="description" use="required"/>
                  <xs:attribute type="xs:string" name="name" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="name"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>